// 全局公共样式变量

$base-color-blue: #124191;

$base-color-red-3155: #ff3155;

$baseMobileVw: 3.75;

// 可以适应不同尺寸手机端
@function px($npx) {
  @return $npx/1920 * 100vw;
}

$base-font-ch: PingFangSC;

$base-font-en: NokiaPureHeadline;

$base-font-yaHei: MicrosoftYaHei;

@mixin flex-layout(
  $direction: row,
  $wrap: wrap,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
